<div class="contact-us-form__header">{{ formheader }}</div>
<div class="contact-us-form__caption">{{ formcaption }}</div>
{{ form_start(form, {'attr': {
    'class': 'contact-us-form__form mb-4',
    'id': 'contact_us_form',
    'novalidate': 'novalidate'
}}) }}
    {{ form_row(form.fullname) }}
    {{ form_row(form.email) }}
    {{ form_row(form.phone) }}
    {{ form_row(form.theme) }}
    {{ form_row(form.message) }}
    {{ form_row(form.submit) }}

{{ form_end(form) }}
<div class="contact-us-form__status d-flex align-items-center" data-ishidden="true">
    <div class="mr-4">
        <div class="contact-us-form__spinner spinner-grow text-custom-yellow" role="status"></div>
    </div>
    {% for key, status in formstatuses %}
        <div class="contact-us-form__{{ key }} d-none"
             data-sendingstatus="{{ status.status }}"
             data-ishidden="true"
            {% if status.iserror is defined %} data-iserror="{{ status.iserror }}"{% endif %}>{{ status.name }}</div>
    {% endfor %}
    <h6 class="contact-us-form__result m-0" data-ishidden="true"></h6>
</div>
