{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('main_activities') }}
{% endblock %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block content %}
{% endblock %}

{% block footer %}
    {% set templatename = footer.footercontent.type %}
    <div class="footer__substratum footer__substratum__with-content">
        {{ include('main_activities/' ~ templatename ~ '.html.twig') }}
        {{ include('components/_footer.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('main_activities') }}
{% endblock %}
