{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('aboutus') }}
{% endblock %}

{% block title %}{{ pagetitle }}{% endblock %}

{% block content %}
    {{  include('components/_subheader.html.twig') }}
    {{  include('components/_companyreferences.html.twig') }}
    {{  include('components/_map.html.twig') }}
    {{  include('components/_licensesandcertificates.html.twig') }}
    {{  include('components/_customersandreviews.html.twig') }}
{% endblock %}

{% block footer %}
    <div class="footer__substratum footer__substratum__with-content">
        {{  include('components/_customersfeedbacks.html.twig') }}
        {{  include('components/_footer.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('aboutus') }}
{% endblock %}
