<h4>{% trans %}form.placeholders.fullname{% endtrans %}</h4>
<div>{{ fullname }}</div>
<h4>{% trans %}form.placeholders.email{% endtrans %}</h4>
<div>{{ useremail }}</div>
<h4>{% trans %}form.placeholders.phone{% endtrans %}</h4>
<div>{{ phone }}</div>
<h4>{% trans %}form.placeholders.theme{% endtrans %}</h4>
<div>{{ theme }}</div>
<h4>{% trans %}form.placeholders.message{% endtrans %}</h4>
<pre>{{ message }}</pre>
