<h4>{% trans %}fullname{% endtrans %}</h4>
<div>{{ fullname }}</div>
<h4>{% trans %}email{% endtrans %}</h4>
<div>{{ useremail }}</div>
<h4>{% trans %}phone{% endtrans %}</h4>
<div>{{ phone }}</div>
<h4>{% trans %}theme{% endtrans %}</h4>
<div>{{ theme }}</div>
<h4>{% trans %}message{% endtrans %}</h4>
<pre>{{ message }}</pre>
