{% extends 'components/_wrapper.html.twig' %}
{% block wrappercontent %}
    <div class="row mx-0 py-3">
        <div class="col-2">
            <img class="text-white mr-2" src="{{ absolute_url(asset('build/icons/phone.svg')) }}">
            <a href="tel:{{ navbar.header.phone }}" class="navbar-header__text text-white font-weight-regular">{{ navbar.header.phone }}</a>
        </div>
        <div class="col-2">
            <img class="text-white mr-2" src="{{ absolute_url(asset('build/icons/email.svg')) }}">
            <a href="mailto:{{ navbar.header.email }}" class="navbar-header__text text-white font-weight-regular">{{ navbar.header.email }}</a>
        </div>
    </div>
{% endblock %}
