{% extends 'components/_wrapper.html.twig' %}
{% if navbar.extracontainerclasses is defined %}
    {% set extracontainerclasses = navbar.extracontainerclasses %}
{% endif %}
{% block wrappercontent %}
    <div class="navbar-with-banner">
        <nav class="navbar-with-banner__menu row mx-0 pt-4">
            {% for link in navbar.links %}
                {% if link.renderinlogo is defined %}
                    <div class="col-4">
                        <a class="navbar-with-banner__logo mr-auto" href="{{ link.href }}">
                            <img src="{{ absolute_url(asset('build/img/navbar_logo.svg')) }}" alt="{{ link.title }}">
                        </a>
                    </div>
                {% endif %}
            {% endfor %}
            <div class="col-8 d-flex align-items-end">
                {% for link in navbar.links %}
                    {% if link.renderinlogo is not defined %}
                        <a class="navbar-with-banner__link nav-link text-white font-weight-regular" href="#">{{ link.title|upper }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </nav>
        <div class="row mx-0">
            <div class="col-4">
                <h1 class="navbar-with-banner__header mb-7 text-white font-weight-bold">{{ navbar.banner.header }}</h1>
                <h3 class="navbar-with-banner__caption mb-7 text-white font-weight-medium">{{ navbar.banner.caption }}</h3>
                <a href="#" class="navbar-with-banner__button btn font-weight-medium">{{ navbar.banner.button }}</a>
            </div>
        </div>
    </div>
{% endblock %}
