{% extends 'components/_wrapper.html.twig' %}
{% set extracontainerclasses = 'navbar-no-banner' %}
{% block wrappercontent %}
    <nav class="navbar-no-banner__menu row pt-4">
        {% for link in navbar.links %}
            {% if link.renderinlogo is defined %}
                <div class="col col-md-8 col-lg-6 col-xl-4 mb-3 mb-xl-0">
                    <a class="navbar-no-banner__logo mr-auto" href="{{ link.href }}">
                        <img src="{{ absolute_url(asset('build/img/navbar_logo.svg')) }}" alt="{{ link.title }}">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        <div class="col-6 col-md-8 d-flex align-items-end flex-wrap flex-md-nowrap">
            {% for link in navbar.links %}
                {% if link.renderinlogo is not defined %}
                    <a class="navbar-no-banner__link nav-link" href="{{ link.href }}">{{ link.title|upper }}</a>
                {% endif %}
            {% endfor %}
        </div>
    </nav>
{% endblock %}
