{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('landing') }}
{% endblock %}

{% block title %}Hello LandingController!{% endblock %}

{% block content %}
    {{  include('components/_advantages.html.twig') }}
    {{  include('components/_map.html.twig') }}
{% endblock %}

{% block footer %}
    <div class="footer__substratum">
        {{  include('components/_block_above_footer.html.twig') }}
        {{  include('components/_footer.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('landing') }}
{% endblock %}
